.chat-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .chat-messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #eee;
    padding: 10px;
  }
  
  .chat-message {
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .chat-message.user {
    text-align: right;
    background-color: #C0C0C0;
  }
  
  .chat-message.agent {
    text-align: left;
    background-color: #f0f0f0;
  }
  
  .chat-message.user,
  .chat-message.agent {
    opacity: 1;
  }
  
.reply-input {
  border-top: 3px solid #122920;
  border-bottom: 3px dashed #122920;
}

.reply-input::placeholder {
  color: #122920;
}