body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  color: #383838;
}

a {
  text-decoration: none;
}

.green {
  color: rgb(145, 194, 156);
}

.gold {
  color: #FFD700;
}

.grey {
  color: #122920;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: 900;
}
