.landing-page {
  text-align: center;
  width: 100vw;
  background-color: #02081150;
  background: url('./images/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #08090a98;
  height: 100vh;
}

.landing-page-heading {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 30vh;
  font-size: 3.5rem;
  color: rgb(145, 194, 156);
  text-shadow: 2px 2px 4px #000000;
}

.landing-page-icon {
  width: 120px;
  animation: heartbeat 3s infinite;
  margin-top: -5vh;
}

.lang-btns {
  display: flex;
  margin-top: 15vh;
}

.lang-btn {
  background-color:rgb(145, 194, 156);
  color: #000000;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  width: 150px;
  transition: background-color 0.3s, color 0.3s; 
}

.lang-btn:hover {
  background-color:#000000;
  color: rgb(145, 194, 156);
  cursor: pointer;
}

.landing-footer {
  margin-left: 5vw;
  position: fixed;
  color: rgb(145, 194, 156);
  bottom: 0;
  left: 0;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-2px) rotate(-1deg);
  }

  40% {
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    transform: translateX(-2px) rotate(-1deg);
  }

  80% {
    transform: translateX(2px) rotate(1deg);
  }

  100% {
    transform: translateX(0);
  }
} 
  

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
